* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2c3e50;
    color: #ecf0f1;
}

.container {
    text-align: center;
    background-color: #34495e;
    padding: 20px;
    border-radius: 8px;
    min-width: 300px;
    max-width: 600px; /* Додана максимальна ширина */
    width: auto;
}

.score-board {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.player h2 {
    margin-bottom: 10px;
    max-width: 150px; /* Максимальна ширина для імені гравця */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.cards {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.cards img {
    width: 100px;
    height: 150px;
    border-radius: 8px;
    border: 1px solid #ecf0f1;
}

#generate-btn, #reset-btn {
    background-color: #27ae60;
    color: #ecf0f1;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
}

#generate-btn:hover, #reset-btn:hover {
    background-color: #2ecc71;
}

/* Специфічний стиль для кнопки "Нова гра", яка на початку прихована */
#reset-btn {
    display: none; /* Прихована за замовчуванням */
}

/* Доданий стиль для адаптації контейнера при довгому імені */
.player {
    flex: 1;
    min-width: 120px;
    text-align: center;
}
